.main_header
  .main_header_box
    .main_header_box_left
      =link_to root_path do
        Mott
    .main_header_box_right
      = link_to destroy_user_session_path, method: :delete, data: {confirm: "ログアウトしますか？"} do
        = fa_icon 'user', class: 'head_left_icon'
      = link_to new_post_path do
        = fa_icon 'edit', class: 'head_right_icon'