*{
  box-sizing: border-box;
}

@mixin new_data {
  width: 80%;
  margin: 10px auto;
  text-align: center;
}

@mixin form {
  width: 100%;
  padding: 5px;
  resize: none;
  border: none;
}

.new_posts {
  margin:0 200px;
  height: 538px;
  border: solid 1px orange;
  &_title {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    background-color: black;
    color: white;
  }
  &_data {
    height: 80%;
    &_image {
      @include new_data;
      input {
        @include form;
        height: 50px;
      }
    }
    &_text {
      @include new_data;
      textarea{
        @include form;
        height: 300px;
      }
    }
    &_place {
      @include new_data;
      height: 20%;
      textarea{
        @include form;
        height: 50px;
      }
    }
  }
  &_btn {
    text-align: center;
    height: 56px;
    padding: 10px;
    a {
      color: black;
      background-color: orange;
      height: 100%;
      border-radius: 1em;
      font-size: x-large;
    }
  }
}