*{
  box-sizing: border-box;
}

@mixin new_data {
  width: 50%;
  margin: 10px;
}

.new_posts {
  margin:0 200px;
  height: 508px;
  border: solid 1px orange;
  &_title {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    background-color: black;
    color: white;
  }
  &_data {
    display: flex;
    height: 80%;
    &_image {
      @include new_data;
      &_icon {
        padding: 40px;
        text-align: center;
      }
    }
    &_text {
      @include new_data;
      textarea{
        width: 100%;
        height: 80%;
        padding: 5px;
        resize: none;
        border: none;
      }
      &_place {
        height: 20%;
      }
    }
  }
  &_btn {
    text-align: center;
    height: 56px;
    padding: 10px;
    a {
      color: black;
      background-color: orange;
      height: 100%;
      border-radius: 1em;
      font-size: x-large;
    }
  }
}